:root {
  --mainTextColor: #000;
  --secondaryTextColor: rgb(51 51 51);
  --mainLinkColor: #1bd7f4;
  --mainBorderColor: rgb(218, 218, 218);
  --mainBgColor: rgb(249, 250, 251);

  --transition-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  font-family: 'Readex Pro';
  line-height: 1em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBgColor);
}

p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  line-height: 1.9em;
}

#container--main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5em;
  border: medium dashed var(--mainBorderColor);
}

.section--page {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 1em;
}

#wrapper--hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
}

#bio {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

#user-name {
  font-size: 48px;
  line-height: 1em;
  text-align: center;
  margin-bottom: 0;
}

#profile-pic {
  width: 150px;
  height: 150px;
  padding: 1em;
  object-fit: cover;
  border-radius: 50%;
  border: medium dashed var(--mainBorderColor);
}

.contacts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 60px;
}

.contacts-list__link {
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: var(--secondaryTextColor);
  font-weight: 400;

  transition: all var(--transition-duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    fill: var(--mainLinkColor);
    color: var(--mainLinkColor);
  }
}

#linkedin-ref,
#github-ref {
  align-items: baseline;
}

#wrapper--techstack__items {
  display: flex;
  gap: 1em;
  justify-content: center;
  font-size: 0.9em;
}

.card--techstack {
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
}

.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor);
}

.card--project a {
  color: var(--mainTextColor);

  transition: 0.3s;
}

.card--project a:hover {
  color: rgb(30, 190, 214);
}

.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

@media (max-width: 600px) {
  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #wrapper--hero {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }

  #wrapper--hero {
    flex-direction: column;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}
