<article class="example" id="uk">
  <h1>Web Resume</h1>

  <img src="./images/photo.jpg" alt="photo" width="320" />

  <p class="text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid veniam
    esse expedita.
  </p>
  <br />
  <br />
  <ul>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
    <li><a href="#">link</a></li>
  </ul>
</article>

<section>
  <button type="button">Click me!</button>
  <button type="button">Click me!</button>
  <button type="button">Click me!</button>
  <button type="button">Click me!</button>
  <button type="button">Click me!</button>

</section>
